---
# Only the main Sass file needs front matter (the dashes are enough)
---

/* Override theme defaults */
/*$base-font-family:'Roboto', sans-serif;*/
$base-font-family: 'Open Sans', sans-serif;
$text-color:       #111 !default;
$background-color: #fdfdfd !default;
$brand-color:      rgb(230, 107, 30) !default;

/* load _sass/minima.scss */
@import "minima";

/* Put any custom CSS here */
@media screen and (max-width: 1100px) {
    .site-nav {
      position: absolute;
      right: 90px;
    }
  }

.center-div-lg {
    width: 100%;
    align-items: center;
    margin-left:auto;
    margin-right:auto;
}
.center-div-sm {
    width: 50%;
    align-items: center;
    margin-left:auto;
    margin-right:auto;
}

img{
    border-radius: 10px;
    border: 2px solid black;
  }
