---
# Only the main Sass file needs front matter (the dashes are enough)
---

/* Override theme defaults */
/*$base-font-family:'Roboto', sans-serif;*/
$base-font-family: 'Open Sans', sans-serif;


/* load _sass/minima.scss */
@import "minima";

/* Put any custom CSS here */
@media screen and (max-width: 1100px) {
    .site-nav {
      position: absolute;
      right: 90px;
    }
  }

.center-div-lg {
    width: 90%;
    align-items: center;
    margin-left:auto;
    margin-right:auto;
    border: 10px gray;
    padding: 5px;
}

.img-border {
    border-radius: 8px;
    border-image: 5px black;
    width: 75%;
  }
